<!DOCTYPE HTML>
<!--
	Synchronous by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>ExpressML</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-panels.min.js"></script>
	<script src="js/init.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
	<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
	<link href='https://fonts.googleapis.com/css?family=Copse' rel='stylesheet'>

	<noscript>
		<link rel="stylesheet" href="css/skel-noscript.css" />
		<link rel="stylesheet" href="css/style.css" />
	</noscript>

	<style>
		rect.selected {
			stroke: #000;
			stroke-width: 2px;
		}
		.axis .domain {
			display: none;
		}
		.axis .tick text.selected {
			font-weight: bold;
			font-size: 1.2em;
			fill: #47ff63;
		}
		.axis .tick line.selected {
			stroke: #47ff63;
		}
		.tip {
			position: absolute;
			font-size: .8em;
			text-align: center;
			text-shadow: -1px -1px 1px #ffffff, -1px 0px 1px #ffffff, -1px 1px 1px #ffffff, 0px -1px 1px #ffffff, 0px 1px 1px #ffffff, 1px -1px 1px #ffffff, 1px 0px 1px #ffffff, 1px 1px 1px #ffffff;
		}
		#legend {
			margin-bottom: 10px;
		}
		#legend text {
			font-size: .8em;
		}
	</style>

	<script>

		$(document).ready(function () {
			$("#analyzeButton").attr('disabled', true);
			$(".regress").hide();
		});

		function func(featureName) {
			if ($(`#${featureName}`).is(':enabled'))
				$(`#${featureName}`).attr('disabled', true);
			else
				$(`#${featureName}`).attr('disabled', false);
		};

		function activateButton() {
			$("#analyzeButton").attr('disabled', false);
		}

		function hideClassify(){
			$(".classify").hide();
			$(".regress").show();
		}

		function hideRegress()
		{
			$(".classify").show();
			$(".regress").hide();
		}
		
	</script>
</head>

<body>
	<div id="wrapper">

		<!-- Header -->
		<div id="header">
			<div class="container">

				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">ExpressML</a></h1>
					<span>Easy to use tool to visualize your data</span>
				</div>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/mainpage">Homepage</a></li>

						<li><a href="/visualize">Visualize</a></li>
						<li class="active"><a href="/analyze">Analyze</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- /Header -->

		<div id="page">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section id="sidebard2">
							<header>

								<h2>Features</h2>

								<form action="/analyze" method="POST">
									<ul class="style1">
										<div class="container">
											<% for(var i=0;i< features.length;i++){%>
											<li>
												<div class="pretty p-icon p-round p-pulse">
													<input name="feature" type="checkbox" value="<%= features[i]%>" onclick="func('<%= features[i]%>')" />
													<div class="state p-success">
														<i class="icon mdi mdi-check"></i>
														<label style="font-family: 'Copse';">
															<%= features[i]%>
														</label>
													</div>
												</div>
											</li>
											<br>
											<% } %>
										</div>
									</ul>
									<hr>
									<h2>Labels/Output</h2>
									<ul class="style1">
										<div class="container">
											<% for(var i=0;i< features.length;i++){%>
											<li>
												<div class="pretty p-icon p-round p-pulse">
													<input type="radio" name="label" value="<%= features[i]%>" id="<%= features[i]%>" onclick="activateButton()" />
													<div class="state p-success">
														<i class="icon mdi mdi-check"></i>
														<label style="font-family: 'Copse';">
															<%= features[i]%>
														</label>
													</div>
												</div>
											</li>
											<br>
											<% } %>
											<!-- <button type="submit" class="btn btn-outline-secondary btn-lg act" id="analyzeButton">Submit</button> -->
											<button type="submit" class="btn btn-success btn-lg btn3d" id="analyzeButton"><span class="glyphicon glyphicon-ok"></span>
												Submit</button>
										</div>
									</ul>

									<!-- <button onclick="myFunction()">Try it</button> -->
							</header>
						</section>
					</div>

					<div class="9u skel-cell-important">
						<section id="content">

							<header>
								<div class="box">

									<input name="type" class="Switcher__checkbox sr-only" id="io" type="checkbox" <%=type %> />
									<label class="Switcher" for="io">
										<div class="Switcher__trigger" data-value="Classification" name="classi" onclick="hideRegress()"></div>
										<div class="Switcher__trigger" data-value="Regression" name="regri" onclick="hideClassify()"></div>
									</label>
								</div>

							</header>
							<div class="classify">
								<ul class="style1">
									<div class="container">
										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="KNN" id="KNN" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														KNeighborsClassifier
													</label>
												</div>
											</div>
										</li>
										<br>
										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="LRC" id="LRC" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														LogisticRegressionClassifier
													</label>
												</div>
											</div>
										</li>
										<br>
										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="SVC" id="SVC" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														Support Vector Classifier
													</label>
												</div>
											</div>
										</li>
										<br>
										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="GPC" id="GPC" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														Gaussian process classifier (GPC)
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="DTC" id="DTC" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														DecisionTreeClassifier
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="RFC" id="RFC" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														RandomForestClassifier
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="MLPC" id="MLPC" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														MLPClassifier (Neural Network)
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="ABC" id="ABC" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														AdaBoostClassifier
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="GNB" id="GNB" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														GaussianNB
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="QDA" id="QDA" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														QuadraticDiscriminantAnalysis
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="SBC" id="SBC" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														Select Best Model
													</label>
												</div>
											</div>
										</li>
										<br>
										<!-- <button type="submit" class="btn btn-outline-secondary btn-lg act" id="analyzeButton">Submit</button> -->

									</div>
								</ul>
							</div>
							<div class="regress">
								<ul class="style1">
									<div class="container">
										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="MLPR" id="MLPR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														MLPRegressor
													</label>
												</div>
											</div>
										</li>
										<br>
										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="BR" id="BR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														BaggingRegressor
													</label>
												</div>
											</div>
										</li>
										<br>
										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="RFR" id="RFR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														RandomForestRegressor
													</label>
												</div>
											</div>
										</li>
										<br>
										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="ETR" id="ETR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														ExtraTreesRegressor
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="ABR" id="ABR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														AdaBoostRegressor
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="GBR" id="GBR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														GradientBoostingRegressor
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="DTR" id="DTR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														DecisionTreeRegressor
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="KNR" id="KNR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														KNeighborsRegressor
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="KNR" id="KNR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														Support Vector Regressor
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="LR" id="LR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														Linear Regression
													</label>
												</div>
											</div>
										</li>
										<br>

										<li>
											<div class="pretty p-icon p-round p-pulse">
												<input type="radio" name="label" value="SBR" id="SBR" onclick="activateButton()" />
												<div class="state p-success">
													<i class="icon mdi mdi-check"></i>
													<label style="font-family: 'Copse';">
														Select best Model
													</label>
												</div>
											</div>
										</li>
										<br>
									</div>

								</ul>
							</div>
							</form>
							<div id="comparison">
								<!-- Plotly chart will be drawn inside this DIV -->
							</div>


							<% if(traintime != ""){ %>
							<script>

								var tt = "<%= traintime %>";
								var ac = "<%= accuracy %>";

								var arr = tt.split(',');
								var arr1 = ac.split(',');

								for (var i = 0; i < arr.length; i++)
									arr[i] = Number(arr[i]);

								console.log(arr);
								var idx = [];
								for (var i = 1; i <= arr.length; i++)
									idx.push(i);

								console.log(idx);

								var acc = [];
								var idx1 = [];
								for (var i = 0; i < arr1.length; i++) {
									if (i % 2 == 0) {
										acc.push(Number(arr1[i]));
									}
									else {
										idx1.push(Number(arr1[i]));
									}
								}
								var tt = {
									x: idx,
									y: arr,
									mode: 'lines+markers',
									name: 'Training time'
								};

								var trace2 = {
									x: idx1,
									y: acc,
									mode: 'lines+markers',
									name: 'Accuracy'
								};
								var data = [tt, trace2];
								var models = ['Naive Bayes', 'KNN', 'Decision Trees', 'SVM', 'Random Forest'];
								var layout = {
									title: 'Comparison of ML Models',
									xaxis: {
										title: 'Naive Bayes             KNN      ,        Decision Trees                    SVM            Random Forest'
									},
									yaxis: {
										title: 'Time/Accuracy'

									},
									height: 600,
									width: 950
								};

								Plotly.newPlot('comparison', data, layout, { responsive: true });

							</script>
							<% } %>
						</section>
					</div>






					<!-- Copyright -->
					<div id="copyright">
						<div class="container">
							Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
						</div>
					</div>

				</div>
</body>

</html>